.vscode
.metals

.DS_Store
build
*/wrk2/deps
*/wrk2/obj
*/wrk2/wrk

*.class
.idea
*.log
.metals
.vscode

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
