body {
    background-color: #eeeeee;
}

.row {
    margin: 0;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 2rem;
        padding-right: 1rem;
    }
    .gedf-card {
        margin-bottom: 1rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

.container-fluid {
    padding: 0;
}

.follow {
    display: inline-block;
}

.frequent .card-body {
    padding: 10px;
}

.frequent .card-title {
    margin-top: 10px;
    margin-bottom: 6px;
}

.flwbtn {
    margin-top: 15px;
}

.unfollow {
    color: #1f85de;
    background-color: white;
    border-color: #1f85de;
}
.freq-c {
    color: green;
    background-color: white;
    border-color: green;
}
.freq_clicked {
    color: white;
    background-color: rgb(211, 56, 56);
    border-color: rgb(211, 56, 56);
}
.unfollow_clicked {
    color: white;
    background-color: #1f85de;
}
.freq-c:hover {
    color: green;
}
.unfollow:hover {
    color: #1f85de;
}
.unfollow_clicked:hover {
    color: white;
}
.freq_clicked:hover {
    color: white;
}

.btn:focus {
    box-shadow: none;
}

.submit-button {
    float: right;
}

#text-content:focus {
    box-shadow: none;
}

#compose {
    display: none;
}

.post-card {
    display: none;
}
.post-img{
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
}

.hide {
    display: none;
}