name: user

ports:
  - port: 8086
    targetPort: 8086
 
container:
  command: user
  image: deathstarbench/hotel-reservation
  name: hotel-reserv-user
  ports:
  - containerPort: 8086

configMaps:
  - name: service-config.json
    mountPath: /go/src/github.com/harlow/go-micro-services/config.json
    value: service-config
