name: Push HotelReservation
concurrency: ci-hotelReservation

on:
  push:
    branches: [ master ]
    paths:
      - 'hotelReservation/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/build-push-action@v3
      with:
        context: ./hotelReservation
        push: true
        tags: ghcr.io/picop-rd/DeathStarBench/hotelReservation:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
